<div>
  <nav class="custom-navbar">
    <a routerLink="/" class="custom-navbar-brand">Employment Portal</a>
    <div class="custom-navbar-nav">
      <li class="custom-nav-item">
        <a class="custom-nav-link" routerLink="/about">About Us</a>
      </li>
      <li class="custom-nav-item">
        <a class="custom-nav-link" routerLink="/tutorials">Jobs available</a>
      </li>
      <li class="custom-nav-item">
        <a class="custom-nav-link" routerLink="/add">Add Jobs</a>
      </li>
    </div>
  </nav>

  <div class="custom-container">
    <router-outlet></router-outlet>
  </div>
</div>
